<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cover/">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//geodata.solutions/includes/countrystatecity.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="px-2 my-3" style="width: 260px">
        <h1 class="fs-6 pl-5 my-2">Form Translative</h1>
        <form id="onSubmit" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <input class="form-control form-control-sm" name="name" id="name" required type="text"
                    placeholder="Nombre/Name*" />
            </div>
            <div class="mb-3">
                <input class="form-control form-control-sm" name="business" id="Business" required type="text"
                    placeholder="Empresa/Business Name*" />
            </div>
            <div class="mb-3">
                <input class="form-control form-control-sm" id="jobPosition" name="jobPosition" type="text"
                    placeholder="Job position" />
            </div>
            <div class="mb-3">
                <select name="country" class="countries form-control form-control-sm" required id="countryId">
                    <option value="">Select</option>
                </select>
            </div>
            <div class="mb-3">
                <select name="state" class="states form-control form-control-sm" id="stateId">
                    <option value="">Select Departamento/State</option>
                </select>
            </div>
            <div class="mb-3">
                <select name="city" class="cities form-control form-control-sm" id="cityId">
                    <option value="">Select Ciudad/City</option>
                </select>
            </div>
            <div class="mb-3">
                <input class="form-control form-control-sm" form-control-sm name="phone" required id="telefonoMovil"
                    type="text" placeholder="Teléfono móvil/Mobile phone*" />
            </div>
            <div class="mb-3">
                <input class="form-control form-control-sm" name="email" required id="emailAddress" type="email"
                    placeholder="Email Address" />
            </div>
            <div class="mb-3">
                <textarea class="form-control form-control-sm" id="message" rows="3" type="text" name="message"
                    placeholder="Message" style="height: 10rem;"></textarea>
            </div>
            <div class="mb-3 mt-3">
                <label for="dateDelivery">Fecha de entrega/Delivery date*</label>
                <input class="form-control form-control-sm" id="dateDelivery" required name="dateDelivery" type="date"
                    placeholder="Fecha de entrega/Delivery date*" />
            </div>
            <div class="mb-6">
                <p>from / to</p>
                <div class="row">
                    <div class="col" id="lang_from">
                        <p class="fs-6">SPANISH</p>
                        <p class="fs-6" style="display: none">ENGLISH</p>
                    </div>
                    <div class="col">
                        <button type="button" id="btnToggle" class="btn btn-sm btn-outline-info">
                            <span class="material-icons">swap_horiz</span>
                        </button>
                    </div>
                    <div class="col" id="lang_to">
                        <p class="fs-6">ENGLISH</p>
                        <p class="fs-6" style="display: none">SPANISH</p>
                    </div>
                </div>
            </div>
            <hr>
            <main class="px-1">
                <p>Upload your file</p>
                <p class="fs-6">
                    .pdf, .doc, .docx, .xls, .xlsx,.txt
                </p>

                <fieldset>
                    <label for="file" class="fs-6">Select your file. Max <b>30Mb</b> </label>
                    <input class="form-control form-control-sm" name="file" id="file" type="file" required
                        accept=".txt, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                </fieldset>
                <p class="my-3 fs-6">
                    If your file is larger than 30 Mb contact us at contact@translative.com.co
                </p>
                <fieldset>
                    <p id="wait" class="my-5">
                        Processing... <br>
                        <img width="100px" class="my-5" src="{{url_for('static', filename='loader.gif')}}">
                    </p>
                </fieldset>
                <div class="send_success my-2">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <p class="my-2 fs-6">Send Success!</p>
                        <p class="my-2 fs-6">Your message is being processed. We will send you a quote as soon as possible. Thank you for trusting us!</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                <div class="send_error my-2">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        Error <p id="msg_error"></p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </main>
            <div class="d-none" id="submitErrorMessage">
                <div class="text-center text-danger mb-3">
                    Error sending message! <br>
                    contact@translative.com.co
                </div>
            </div>

            <div class="d-grid my-3">
                <button class="btn btn-sm btn-success btn-lg" type="submit" id="submitBtn" type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<script>
    $('#btnToggle').click(() => {
        $('#lang_from p').toggle();
        $('#lang_to p').toggle();
    });

    document.getElementById("file").addEventListener("change", validateFile)

    function validateFile() {
        const allowedExtensions = ['pdf', 'doc', 'docx', 'xls', 'xlsx', 'txt'];
        const sizeLimit = 20000000;

        const { name: fileName, size: fileSize } = this.files[0];

        const fileExtension = fileName.split(".").pop();
        if (!allowedExtensions.includes(fileExtension)) {
            alert("Alert !\nPlease upload only .pdf, doc and .docx .xls .xlsx .txt");
            this.value = null;
        } else if (fileSize > sizeLimit) {
            alert("Alert !\nFile size too large. max 30Mb \nIf your file is larger than 30 Mb contact us at contact@translative.com.co ")
            this.value = null;
        }
    }

    $(function () {
        $('#onSubmit').submit(function (event) {
            console.log('start upload');

            $('#submitBtn').hide();
            $('.result').hide();
            $('#wait').show();

            event.preventDefault();

            var form_data = new FormData($('#onSubmit')[0]);
            let lang_from = $('#lang_from p:visible').first().text();
            let lang_to = $('#lang_to p:visible').first().text();

            form_data.append("lang_from", lang_from);
            form_data.append("lang_to", lang_to);

            $.ajax({
                type: 'POST',
                url: '/flaskapp/form_client',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                    console.log('Success!');
                    $('#submitBtn').show();
                    $('#wait').hide();
                    $("#onSubmit")[0].reset();

                    if (data.success) {
                        $('.send_success').show();
                        $('#submitBtn').show();
                    } else {
                        $('#submitBtn').show();
                        $('.send_error').show();
                        $('.send_error .msg_error').text('Archivo no permitido !');
                        console.log('Alert!!.\n Archivo no permitido !');
                    }

                },
                error: function (error) {
                    console.log('error: ', error);
                    $('.send_error .msg_error').text(error);
                    $('#submitBtn').show();
                    $('#wait').hide();
                    $("#onSubmit")[0].reset();
                }
            });
        });
    });

</script>
</body>

</html>