<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Form</title>
    <style>
        li {
            margin: 10px 0px;
        }
    </style>
</head>

<body>
    <h3 class="text-center">
        Your message is being processed. We will send you a quote as soon as possible. Thank you for trusting us! <br>
    </h3>
    <p>
        Translative team
    </p>
    <br>
    <h3 class="text-center">
        Su mensaje está siendo procesado. Nos estaremos comunicando con usted a la mayor brevedad. Gracias por confiar
        en nosotros!
    </h3>
    <p>
        El equipo de Translative
    </p>
</body>

</html>